node_modules
dist
.turbo
.DS_store
*.tsbuildinfo
.vscode/tasks.json
.env.local
.todo
.ai
.docs

logs
apps/server/logs
apps/server/run

dev/mysql/data
dev/mysql/logs
dev/mysql/backups
dev/rabbitmq/data
dev/redis/data

dev/ecommerce/data
dev/ecommerce/logs